doctype html
html(class="no-js", lang="")
  head
    meta(charset="utf-8")
    meta(property="fb:app_id" content="519953108211951")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(property="og:description" content="La plataforma en línea que te permite encontrar a la persona ideal para tus reparaciones en el hogar." )
    meta(property="og:image" content="fixologo.png" )
    meta(property="og:title" content="fixo")
    title="fixo"
    meta(name="description", description="La plataforma en línea que te permite encontrar a la persona ideal para tus reparaciones en el hogar.")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon", href="fixo.png")
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    style#css!= css
  body
    #app!= body
    script(src=entry)
    script.
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','#{trackingId}','auto');ga('send','pageview')
    script.
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:335612,hjsv:5};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    if trackingId
      script(src="https://www.google-analytics.com/analytics.js", async=true, defer=true)
